body
{
    margin: 0;
    background: rgb(88, 88, 88);
    overflow: hidden;
    text-align: center;
}
#networkCanvas
{
    background: rgb(0, 0, 0);
}
#carCanvas
{
    background: rgb(150, 150, 150);
}
